[user]
	name = Mattias Palmgren
	email = mattiaspalmgren92@gmail.com

[credential]
	helper = osxkeychain

[core]
	excludesfile = /Users/mattiaspalmgren/.gitignore_global
	ignorecase = false

[mergetool]
       keepBackup = false

[merge]
	tool = opendiff

[pull]
	rebase = true

[includeIf "gitdir:~/alva/"]
	path = .gitconfig-alva

[alias]
	publish = "!git push -u origin $(git branch-name)"
	size = !zsh -c 'source $DOTFILES_DIR/git/functions.sh && size'

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[rebase]
	autostash = true

[remote "origin"]
	prune = true
