[user]
	name = Mattias Palmgren
	email = mattiaspalmgren92@gmail.com

[credential]
	helper = osxkeychain

[core]
	excludesfile = /Users/mattiaspalmgren/.gitignore_global
	ignorecase = false
	sshCommand = ssh -i ~/.ssh/id_rsa

[mergetool]
       keepBackup = false

[merge]
	tool = opendiff

[pull]
	rebase = true

[includeIf "gitdir:~/svt/"]
	path = .gitconfig-svt

[alias]
	frebase = !HASH=`git log --pretty=oneline | head -n 50 | fzf` && git rebase -i `echo ${HASH} | awk '{ print $1 }'`^
	ffcheckout = !FILE=`git status --short | awk '{ print $2 }' | fzf` && git checkout ${FILE}
	fshow = !HASH=`git log --pretty=oneline | head -n 100 | fzf` && git show `echo ${HASH} | awk '{ print $1 }'`
	fadd = !FILES=`git status -s | awk '{ print $2 }' | fzf -x -m` && git add --all ${FILES}
	fdiff = !FILES=`git status -s | awk '{ print $2 }' | fzf -x -m` && git diff ${FILES}
	fcheckout = !HASH=`git log --pretty=oneline | head -n 50 | fzf` && git checkout `echo ${HASH} | awk '{ print $1 }'`
	frevert = !HASH=`git log --pretty=oneline | head -n 50 | fzf` && git revert `echo ${HASH} | awk '{ print $1 }'`
	fhash = !HASH=`git log --pretty=oneline | head -n 300 | fzf` && printf ${HASH} | awk '{ printf $1 }' | pbcopy
	fpop = !NAME=`git stash list | fzf | awk '{ print substr($1, 1, length($1)-1) }'` && git stash pop ${NAME}
	fdtag = !TAG=`git tag --list | tail | fzf` && git tag -d ${TAG}
	fdrtag = !TAG=`git tag --list | tail | fzf` && git push origin :refs/tags/${TAG}
	camnefp = !git commit --amend --no-edit && git push -f
	camne = !git commit --amend --no-edit

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
