[user]
  name = Mattias Palmgren
  email = mattiaspalmgren92@gmail.com

[credential]
  helper = osxkeychain

[core]
  excludesfile = /Users/mattiaspalmgren/.gitignore_global

[merge]
  tool=opendiff

[mergetool]
	keepBackup = false
  