gui:
  returnImmediately: true
customCommands:
  images:
    - name: os
      attach: true
      command: "docker image inspect --format '{{printf \"{{.Os}}/{{.Architecture}}\"}}' {{ .Image.ID }}"
      serviceNames: []
  services:
    - name: open-pycharm
      command: "charm ."
      serviceNames: []
    - name: pull
      attach: true
      command: "docker-compose pull {{ .Service.Name }}"
      serviceNames: []
    - name: toggle-local
      attach: true
      command: "zsh -c 'source $DOTFILES_DOCKER_DIR/functions.sh && toggle-local-image {{ .Service.Name }}'"
      serviceNames: []
