set nocompatible
filetype off
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()

Plugin 'VundleVim/Vundle.vim'
Plugin 'godlygeek/tabular'
Plugin 'plasticboy/vim-markdown'
Plugin 'itchyny/lightline.vim'

call vundle#end()
filetype plugin indent on

set clipboard+=unnamed  " use osx clipboard
set backspace=2         " make backspace work like most other programs
set laststatus=2        " for lightline
set noshowmode          " for lightline
set nofoldenable
set number
set incsearch
set timeoutlen=1000 ttimeoutlen=0 " remove delay when leaving insert mode
set visualbell
set noerrorbells

let &t_SI = "\<Esc>]50;CursorShape=1\x7"
let &t_SR = "\<Esc>]50;CursorShape=2\x7"
let &t_EI = "\<Esc>]50;CursorShape=0\x7"

highlight LineNr ctermfg=Grey

let mapleader=" "
map <leader>a :action GotoAction<CR>
nmap <leader>w :action SaveAll<CR>
nmap <leader>q :action CloseEditor<CR>
nmap <leader>e :action GotoNextError<CR>
nmap <leader>n :action Macro.next-change<CR>
nmap <leader>p :action Macro.previous-change<CR>
nmap <leader>v :action SelectInProjectView<CR>
nmap <leader>f :action FindInPath<CR>
nmap <leader>r :action Macro.run-context-test<CR>
# nmap <leader>r :action Macro.run-latest<CR>
nmap <leader>s :action Stop<CR>
nmap <leader>b :action Back<CR>
nmap <leader>c :action Vcs.Show.Local.Changes<CR>

nmap gp :action ReformatWithPrettierAction<CR>
nmap gh :action ShowErrorDescription<CR>
nmap gr :action Vcs.RollbackChangedLines<CR>
vmap gr :action Vcs.RollbackChangedLines<CR>

nmap <c-l> :action momomo.com.intellij.plugins.Move.actions.MoveTab.MoveTab$Left<CR>
nmap <c-r> :action momomo.com.intellij.plugins.Move.actions.MoveTab.MoveTab$Right<CR>

nnoremap ' `
nnoremap ` '

" Colors {{{
syntax enable
" }}}
