set nocompatible
filetype off
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()

Plugin 'VundleVim/Vundle.vim'
Plugin 'godlygeek/tabular'
Plugin 'plasticboy/vim-markdown'
Plugin 'itchyny/lightline.vim'
Plug 'easymotion/vim-easymotion'
set multiple-cursors

call vundle#end()
filetype plugin indent on

set clipboard+=unnamed  " use osx clipboard
set backspace=2         " make backspace work like most other programs
set laststatus=2        " for lightline
set noshowmode          " for lightline
set nofoldenable
set number
set incsearch
set nohlsearch
set timeoutlen=1000 ttimeoutlen=0 " remove delay when leaving insert mode
set visualbell
set noerrorbells
set surround

let &t_SI = "\<Esc>]50;CursorShape=1\x7"
let &t_SR = "\<Esc>]50;CursorShape=2\x7"
let &t_EI = "\<Esc>]50;CursorShape=0\x7"

highlight LineNr ctermfg=Grey

let mapleader=" "
map / <Plug>(easymotion-s)

map <leader>a :action GotoAction<CR>
nmap <leader>w :action SaveAll<CR>
map <leader>q :action CloseEditor<CR>
nmap [d :action GotoNextError<CR>
nmap ]d :action GotoPreviousError<CR>
nmap <leader>n :action Macro.next-change<CR>
nmap <leader>p :action Macro.previous-change<CR>
nmap <leader>- :action SelectInProjectView<CR>
nmap <leader>/ :action FindInPath<CR>
nmap <leader>o :action GotoSymbol<CR>
nmap <leader>f :action GotoFile<CR>
nmap <leader>r :action Macro.run-context-test<CR>
nmap <leader>s :action Stop<CR>
nmap <leader>b :action Back<CR>
nmap <leader>c :action Vcs.Show.Local.Changes<CR>
nmap <leader>l :action ToggleLineBreakpoint<CR>
nmap <leader>d :action DebugClass<CR>
nmap <leader>u :action FindUsages<CR>
nmap <leader>k :action ShowErrorDescription<CR>
nmap <leader>ef :action ActivateProjectToolWindow<CR>
nmap <leader>ep :action ManageRecentProjects<CR>
nmap <S-k> :action NextTab<CR>
nmap <S-j> :action PreviousTab<CR>

nmap tl :action momomo.com.intellij.plugins.Move.actions.MoveTab.MoveTab$Left<CR>
nmap tr :action momomo.com.intellij.plugins.Move.actions.MoveTab.MoveTab$Right<CR>
nmap ˙ :action momomo.com.intellij.plugins.Move.actions.MoveTab.MoveTab$Left<CR>
nmap ¬ :action momomo.com.intellij.plugins.Move.actions.MoveTab.MoveTab$Right<CR>

nmap gp :action ReformatWithPrettierAction<CR>
nmap gb :action Tool_External Tools_Darker<CR>
nnoremap gd :action GotoDeclaration<CR>

nmap QQ :action StartStopMacroRecording<CR>

" Git operations
map gr :action Vcs.RollbackChangedLines<CR>
nmap gl :action Vcs.Show.Log<CR>
nmap ge :action Javascript.Linters.EsLint.Fix<CR>
nmap gf :action Vcs.ShowTabbedFileHistory<CR>
map gs :action Vcs.ShowHistoryForBlock<CR>
nmap ga :action Annotate<CR>
nmap gd :action ShowAnnotateOperationsPopupGroup<CR>
nmap gh :action Github.Open.In.Browser<CR>

nmap za :action CollapseAllRegions<CR>
nmap zo :action ExpandRegionRecursively<CR>
nmap zr :action CollapseAllRegions<CR>
nmap z1 :action ExpandAllToLevel1<CR>
nmap z2 :action ExpandAllToLevel2<CR>

vmap ,c :action osmedile.intellij.stringmanip.SwitchCasePopup<CR>
nmap ,v :source ~/.ideavimrc<CR>
nmap ,i :action Macro.init-import<CR>
nmap ,r :action Replace<CR>
nmap ,w :action EditorNextWordInDifferentHumpsMode<CR>
vmap ,w :action EditorNextWordInDifferentHumpsModeWithSelection<CR>

nmap @f :g/def/t$<CR>

nmap <leader>m :action GotoNextBookmark<CR>
nmap ma :action ToggleBookmark<CR>

nmap <c-r> :action $Redo<CR>

nnoremap ' `
nnoremap ` '

" Colors {{{
syntax enable
" }}}
